@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ease: cubic-bezier(0.8, 0, 1, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* header css */

.main-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 calc(25% - 150px);
  z-index: 100;
  box-sizing: border-box;
  pointer-events: none;
  transition: transform 0.2s var(--ease); 
}

.main-header.closed {
  transform: translateY(-60px);
}

.main-header-bar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
}

.main-header-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12ch;
  height: 36px;
  padding: 0 calc(min(18px, -18px + 8vw));
  border-radius: 18px;

  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  backdrop-filter: blur(8px);
  background-size: 220% 100%;
  background-image: linear-gradient(60deg, #9994 60%, transparent 60%);
  background-repeat: no-repeat;
  background-position: 117%;
  pointer-events: all;
  transition: background-color 0.2s var(--ease), 
    background-position 0.2s var(--ease);
}

.main-header-item:hover {
    background-image: linear-gradient(
      60deg,
      #9994 50%,
      #fff 50%,
      #fff 60%,
      transparent 60%
    );
    background-position: 0%;
}

.main-header-icon {
  width: 36px;
  height: 36px;
  border-radius: 25%;
  image-rendering: pixelated;
  object-fit: cover;
  backdrop-filter: blur(8px);
  pointer-events: all;  
}

.main-header-indicator {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;

  left: 50%;
  transform: translate(-50%, 50%);
  top: calc(100% + 12px);
  opacity: 0;
}

.main-header-indicator.closed {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .main-header {
    padding-top: 6px;
    height: 90px;
  }

  .main-header-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* depeds on the number of items*/
    justify-items: center;
    gap: 6px;
  }

  .main-header-icon {
    display: none;
  }

  .main-header.closed {
    transform: translateY(-90px);
  }
}

.float {
  position: fixed;
}


/* universe css */

.universe {
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}


/* home css */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(95vh, 600px, 100vh);
  margin-bottom: 5vh;
}

.header-content {
  height: 40vh;
  min-width: 80vh;
  overflow: hidden;
}

.header-circle {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center; 
  float: left;
  width: 40vh;
  height: 40vh;
  box-sizing: content-box;
  margin: 0vh 2vh;
  border-radius: 50%;
  background-color: #413f4a;
  shape-outside: circle(calc(50% + 1vh));
  overflow: hidden;
  animation: header-circle-appear 0.6s cubic-bezier(0.8, 0, 1, 0.2),
    header-background-fade 0.6s cubic-bezier(0.8, 0, 1, 0.2);
}

@keyframes header-circle-appear {
  from {
    clip-path: circle(2.5vh);
  }
  to {
    clip-path: circle(50%);
  }
}

@keyframes header-background-fade {
  from {
    background-color: transparent;
  }
}

.header-img {
  height: 100%;
  width: 100%;
  opacity: 1;
  object-fit: cover;
  animation: header-circle-img-appear 0.3s 0.3s cubic-bezier(0.8, 0, 1, 0.2) backwards;
  transition: height 0.3s ease-in,
    width 0.3s ease-out;
  pointer-events: all;
}

.header-img:hover {
  height: 103%;
  width: 103%;
}

@keyframes header-circle-img-appear {
  from {
    opacity: 0;
  }
}

.intro-spacer {
  display: block;
  height: 0px;
  animation: intro-spacer 0.5s 0.5s cubic-bezier(0, 0.8, 0.2, 1) backwards;
}

@keyframes intro-spacer {
  from {
    height: 100%;
  }
}

.intro-text {
  line-height: 1.8;
  font-style: italic;
  font-size: 2.2vh;
  animation: intro-text 0.8s 0.4s cubic-bezier(0, 0.8, 0.4, 1) backwards;
}

@keyframes intro-text {
  from {
    line-height: 8;
  }
}

.intro-line {
  display: inline-block;
}

.intro-link {
  text-decoration: underline;
  color: #d6cef4;
}

.intro-link:hover {
    color: #fff;
}

@media (max-aspect-ratio: 4/5) {
  .header {
    height: auto;
    min-height: 95vh;
    margin: 30px 0 60px;
  }
  .header-content {
    height: auto;
    min-width: unset;
    text-align: center;
  }

  .header-circle {
    float: none;
    width: 30vh;
    height: 30vh;
    display: inline-block;
  }

  .intro-text {
    display: block;
    margin-top: 3vh;
    font-size: 16px;
    line-height: 1.8;
    animation: intro-text-mobile 1s cubic-bezier(0, 0.8, 0.4, 1),
    intro-text-mobile2 0.8s 0.4s cubic-bezier(0, 0.8, 0.4, 1) backwards;
  }

  @keyframes intro-text-mobile {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes intro-text-mobile2 {
    from {
      line-height: 4;
    }
  }

  .intro-spacer {
    animation: none;
  }
}
/* border div */
.border-line {
  width: 70vw;
  height: 0.3vh;
  background-color: #d6cef4;
  margin: 2rem auto;
  border-radius: 13px;
}

/* home about css */

.about-section {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3vh 20vw;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-item {
  border-radius: 12px;
  background: rgba(27,28,32,0.2);
  border: 1px solid #666375;
  box-shadow: 0 8px 16px -4px rgba(0,0,0,0.314);
  position: relative;
  overflow: hidden;
  padding: 1rem 2rem;
  border-radius: 12px;

  line-height: 1.6;
  opacity: 1.0;
  transition: opacity 0.2s var(--ease);
}

.closed {
  opacity: 0.0;
}

.about-me-title {
    font-size: 1.5rem; /* Make it larger */
    font-weight: bold;
    line-height: 1.2;
    color: #d6cef4;
    margin-bottom: 0.5rem;
}

.about-me-text {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.6rem;
}

.about-me-link {
    color: #d6cef4;
    text-decoration: underline;
}

.about-me-link:hover {
    color: #fff;
}

@media (max-aspect-ratio: 4/5) {
  .about-section {
    padding: 0 15vw;
  }

  .content-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

